<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BlackCode</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="text-light text-center py-4" style="background-color:#001253">
        <h1>Management Data User</h1>
    </div>
    <div class="container my-4">
        <div class="card">
            <div class="card-header" style="background-color:#192655">
                <div class="d-flex my-2">
                    <div class="p-2"> <h3 class="text-light ">Update Data User</h3></div>
                </div>
            </div>
            <div class="card-body">
                <div class="container mt-4">
                    <form action="#" th:action="@{/user/update}" th:object="${user}" method="POST">
                        <input type="hidden" class="form-control" th:field="*{user_id}" th:value="${user.user_id}">
                        <div class="mb-3">
                            <label for="input_user_name" class="form-label">User Name</label>
                            <input type="text" class="form-control" th:field="*{user_name}" th:value="${user.user_name}" id="input_user_name">
                        </div>
                        <div class="mb-3">
                            <label for="input_user_email" class="form-label">User Email</label>
                            <input type="text" class="form-control" th:field="*{user_email}" th:value="${user.user_email}" id="input_user_email">
                        </div>
                        <div class="mb-3">
                            <label for="input_user_phoneNumber" class="form-label">User Phone Number</label>
                            <input type="text" class="form-control" th:field="*{user_phoneNumber}" th:value="${user.user_phoneNumber}" id="input_user_phoneNumber">
                        </div>
                        <div class="mb-3">
                            <label for="input_user_address" class="form-label">User Address</label>
                            <input type="text" class="form-control" th:field="*{user_address}" th:value="${user.user_address}" id="input_user_address">
                        </div>
                        <a th:href="@{/user}" class="btn btn-secondary">Back</a>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>